{% load sass_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django sass</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% sass_src 'css/demo.scss' %}"/>



    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

</head>
<body>

<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">Wzup</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>


    <div class="parallax-container">
        <div class="container">         
            <div class="row">
                <div class="parallax">
                    <img class="responsive-img" src="{% static 'img/stars.jpg' %}">
                </div>
                <div class="col s8"> </div>
                <div class="col s2" class="backgr"> 
                    <img class="circle responsive-img profile" src="{% static 'img/whiskey.jpg' %}"/>
                </div>
                <div class="col s2"> </div>
            </div>        
            <div class="row">
                <div class="col s7"> </div>
                <div class="col s4">
                    <h2>
                        Kristinn Godfrey Guðnason
                    </h2>
                </div>
            </div>
        </div>
  </div>
  
    
        
    </div>
</div>    
    <h1 class="header">Sass</h1>
    <div class="blog-post">
        <h2>Some random title</h2>
        <p>This is a paragraph with some random text in it</p>
    </div>
    <div class="blog-post">
        <h2>Header #2</h2>
        <p>Here is some more random text.</p>
    </div>
    <div class="blog-post">
        <h2>Here is another header</h2>
        <p>Even more random text within a paragraph</p>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="{% static 'img/stars.jpg' %}">
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
    $(document).ready(function() {
        $(".parallax").parallax();
    });
    console.log("Hello, World!");
    </script>
</body>
</html>